.grid-row{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(15rem, 1fr) );
    gap: 35px;
    color: #0f1111;
}
body{
    background-color: #fcfcfd;
}
.card-header{
    max-width: 25rem;
    max-height:25rem;
    position: relative;
}
.product-img{
    width: 100%;
    height: 100%;
    grid-row: 1/5;
    border-radius: inherit;
}
.product-rating{
    box-shadow: 0px 0px 5px 2px rgb(0,0,0,0.1);
    padding: 3px 10px;
    width: fit-content;
    position: absolute;
    background-color: white;
    color: #232f3e;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}
.product-title{
    font-weight: bold;
    font-size: 20px;
}
.product-price-tag{
    font-size: 0.8rem;
    /* display: flex; */
    /* justify-content: space-between; */
}
.product-discount-price{
    font-weight: bold;
    font-size: 1.5rem;
}
.product-original-price{
    text-decoration: line-through;
}
.product-discount{
    background-color: rgb(255 0 0 / 40%);
    height: fit-content;
    padding: 0px 10px;
    margin: 0px 10px;
}
.product-card{
    padding:20px;
    display: grid;
    gap: 10px;
    background-color: rgb(248, 223, 248);
    background-color: white;
    border-radius: 0.2rem;
    position: relative;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}
.product-like-btn{
   color: #ffde59;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);

}
.product-like-btn:hover{
    background: rgb(35, 47, 62,0.9);
    cursor:pointer;
    box-shadow: 0px 0px 0px 0px;
}
.product-like-btn:active{
    padding:4.6px;
}
.special-tag{
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
    background-color: #b4cfef;
}
.add-cart-btn{
    height: 2rem;
    border-radius: 0.5rem;
    border-width: 0px;
    background: #ffde59;
    color: #232f3e;

}

.product-overhead{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 1rem);
    padding: 0.5rem;

}
.product-category{
    padding: 2px 10px;
    border-radius: 0.2rem;
    color: #ffde59;
    /* background-color: rgb(35, 47, 62); */
    background-color: rgb(35, 47, 62, 0.9);

}
